
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>Poliester Germans Pelegrina</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'/>
    
    <!-- Estils -->
    <link rel="stylesheet" href="/css/content.css?$modena=poliester-pelegrina" />
    <link rel="stylesheet" href="/css/products.css?$modena=poliester-pelegrina" />

    <!-- Fonts de lletra-->
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,300italic,300,200italic,200,100italic,100,400italic,500,500italic,600,600italic,700,700italic,800,900,800italic,900italic' rel='stylesheet' type='text/css'>

</head>

<body>    
    
    <%- include header.ejs %>
        
    <div class="Wrapper">
    	<%- include home.ejs %>
    	<%- include products.ejs %>
    	<%- include contact.ejs %>
    </div> 

	<%- include footer.ejs %>

	<script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/js/animations.js?$modena=poliester-pelegrina"></script>
        
    <script>
        /*Donem format dinamic a la pàgina un cop colocats els elements*/
        configurePage();
        /*Carreguem la pestanya Inici per defecte*/
        loadTab('Home.html');    
    </script>    

</body>
</html>
